/* usar o * faz com que todos os elemntos obedeçam essa regra */
* {
    margin: 0;
    padding: 0;
    /* faz com que nao saia do padrao da tela */
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #c4c4c4;
    color:#000;
    display: flex;
    flex-direction: column;
}

#calc h3 {
font-size: .8em;
font-weight: 300;
color: #666;

}

#operations {
    text-align: right;
}

#previus-operations,
#current-operations{  
    padding: 0.2em;
    overflow-wrap: break-word;
    /*overflow-wrap: break-word; ele quebra a linha para se o valor/string exceder ele nao sai do meu bicinho*/
    min-width: 1.6em;
}

#previus-operations,{
    color: #777;
}

#current-operations{
    font-size: 3em;
    font-weight: 700;
    /* weight seria o contorno*/
}

